<div class="jumbotron jumbotron-fluid jumbo">
  <div class="container">
    <div class="title left">
      <h1 class="display-4">Don Quixote</h1>
    </div>
    <div class="contacts right">
      <p><b>+380699999999</b></p>
      <p><b>don.quixote@gmail.com</b></p>
    </div>
  </div>
</div>
<div class="container">
  <div class='info left'>
    <p>
    &nbsp; &nbsp; I am  a Spanish gentleman from La Mancha. 
    Nearing 50, my birth name is Alonso Quixano,
    which I change when I become a knight-errant modeled after my beloved chivalric romance novels.
    Accompanied by my elderly horse, Rocinante, and my loyal squire, Sancho Panza,
    I roam the countryside looking for opportunities to right wrongs, aid the poor,
    and help damsels in distress. While the degree of my insanity is debatable,
    I am very intelligent and a master orator on a variety of subjects.
    </p>
  </div>
  <div class="ava right">
    <img src='/ava.jpg' width='150px'/>
  </div>
</div>