<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Don Kihot</h1>
    <p class="lead">+380699999999</p>
    <p class="lead">don.kihot@gmail.com</p>
  </div>
</div>